

/*============================================================================*/

/*----------------------------------------------*/
body {
    background: green;
    font-size: 16px;
}
#client {
    background: grey;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*-- Pattern editor ----------------------------*/
.pattern_pattern {
    font-weight: bold;
    font-family: monospace;
    color: white;
    background: black;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.pattern_row {
    display: flex;
    flex-direction: row;
}
.pattern_row:nth-child(even) {
    background: #222;
}
.pattern_row_indicator {
    color: #666;
}
.pattern_cell {
    color: #666;
}
.pattern_cell, .pattern_row_indicator {
    /* padding-left: 1em;
    padding-right: 1em; */
    padding: 0em 0.5em;
    border-right: 2px inset grey;
    border-left: 2px inset grey;
}
.pattern_cell > * { margin-right: 0.5em;}
.pattern_cell > *:nth-child(4) { margin-right: 0;}
.pattern_cell.full > *:nth-child(1) { color: #fff;}
.pattern_cell.full > *:nth-child(2) { color: #f88;}
.pattern_cell.full > *:nth-child(3) { color: #08f;}
.pattern_cell.full > *:nth-child(4) { color: #868;}
