

/*============================================================================*/

/*-- Aggregation -------------------------------*/
@import "reset.css";
@import "theme.css";

/*-- Layout ------------------------------------*/
body {
    background: black;
    background-image: var(--image-bg-noise);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.client {
    outline: ridge 16px var(--color-bg-primary);
    background: var(--color-bg-primary);
    box-shadow: 0px 0px 400px rgba(255,255,255,0.25);
    width: 1024px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    display: flex;
    flex-direction: row;
}
.editor {
    height: 640px;
    display: flex;
    flex-direction: column;
}
.controls {
    border-left: 4px solid var(--color-bg-primary);
}
.pattern_display {
    margin-bottom: auto;
}
#instrument_display {
    margin-top: 3px;
}
#instrument_controls {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
}
#instrument_controls > * {
    /* margin-left: 4px; */
    margin-right: 4px;
}

/*----------------------------------------------*/
canvas {
    image-rendering: crisp-edges;
    outline: none;
}


/*== Control Groups ==========================================================*/

/*-- Shared ------------------------------------*/
.control_group {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
}
.control_group h2 {
    display: block;
}
.button_group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button_group button {
    width: 120px;
}

/*----------------------------------------------*/
button.selected {
    color: var(--color-fg-highlight);
    background: var(--color-bg-highlight);
}
button {
    border: 2px solid black;
}
button:hover {
    color: var(--color-fg-hint);
    background: var(--color-bg-hint);
    /* border: 2px solid var(--color-fg-hint); */
}


/*-- Control Group Components ------------------*/
.radio {
    border: solid 2px var(--color-bg);
}
.adjuster, .selector, .selector option {
    color: var(--color-fg);
    align-self: flex-start;
}
.adjuster {
    border: solid 2px var(--color-bg);
    border-top: none;
}
.selector {
    border: none;
    outline: solid 2px var(--color-bg);
    margin-left: 2px;
    padding: 0px;
}
option {
    border: none;
    outline: none;
    margin: 0px;
    padding: 0px;
}
option.selected {
    color: var(--color-fg-highlight);
    background: var(--color-bg-highlight);
}

/*-- Pattern -----------------------------------*/
#pattern_selector {
    width: 20em;
    background: black;
    color: white;
    border-width: 0px;
}
