

/*============================================================================*/

/*-- Aggregation -------------------------------*/
@import "reset.css";
@import "theme.css";
@import "../base_components/index.css";

/*-- Layout ------------------------------------*/
body {
    background: black;
    background-image: var(--image-bg-noise);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.client {
    outline: ridge 16px var(--color-bg-primary);
    background: var(--color-bg-primary);
    box-shadow: 0px 0px 400px rgba(255,255,255,0.25);
    width: 1024px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    display: flex;
    flex-direction: row;
}
.editor {
    height: 640px;
    display: flex;
    flex-direction: column;
}
.controls {
    border-left: 4px solid var(--color-bg-primary);
}
.controls > * {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
}
.pattern_display {
    margin-bottom: auto;
}
.instrument_editor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
.instrument_controls {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 4px;
}
.instrument_controls > * {
    margin-right: 4px;
}
.adjuster_group {
    display: flex;
    flex-direction: column;
    border: solid 2px var(--color-bg);
    padding: 0px;
}

/*----------------------------------------------*/
canvas {
    image-rendering: crisp-edges;
    outline: none;
}
button {
    border: 2px solid black;
}
button:hover {
    color: var(--color-fg-hint);
    background: var(--color-bg-hint);
}
button.selected {
    color: var(--color-fg-highlight);
    background: var(--color-bg-highlight);
}
