

/*============================================================================*/

/*-- Aggregation -------------------------------*/
@import "reset.css";
@import "theme.css";

/*-- Layout ------------------------------------*/
body {
    background: black;
    background-image: var(--image-bg-noise);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
#client {
    outline: ridge 16px var(--color-bg-primary);
    background: var(--color-bg-primary);
    width: 1024px;
    /* height: 768px; */
    /* max-width: 100vw;
    max-height: 100vh; */
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: stretch;
}
#editor {
    height: 640PX;
    position: relative;
}
#controls {
    border-left: 4px solid var(--color-bg-primary);
}
#pattern_display {
}
#instrument_display {
    margin-top: 3px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

/*----------------------------------------------*/
canvas {
    image-rendering: crisp-edges;
}


/*== Control Groups ==========================================================*/

/*-- Shared ------------------------------------*/
.control_group {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
}
.control_group h2 {
    display: block;
}
.button_group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button_group button {
    width: 120px;
}


/*----------------------------------------------*/
button.selected {
    color: var(--color-fg-highlight);
    background: var(--color-bg-highlight);
}
button {
    border: 2px solid black;
}
button:hover {
    color: var(--color-fg-hint);
    background: var(--color-bg-hint);
    /* border: 2px solid var(--color-fg-hint); */
}


/*-- Control Group Components ------------------*/
.adjuster, .selector, .selector option {
    color: var(--color-fg);
    align-self: flex-start;
}
.adjuster {
    border: solid 2px var(--color-bg);
}
.selector {
    border: none;
    outline: solid 2px var(--color-bg);
    margin-left: 2px;
    padding: 0px;
}
option {
    border: none;
    outline: none;
    margin: 0px;
    padding: 0px;
}
option.selected {
    color: var(--color-fg-highlight);
    background: var(--color-bg-highlight);
}

/*-- Pattern -----------------------------------*/
#pattern_selector {
    width: 20em;
    background: black;
    color: white;
    border-width: 0px;
}
