

/*== Base Components =========================================================*/

/*-- Button & Button Bar -----------------------*/
.button-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button-bar button {
    width: 120px;
}

/*-- Option Selector ---------------------------*/
.option-selector {
    color: var(--color-fg);
    align-self: flex-start;
    border: none;
    outline: solid 2px var(--color-bg);
    margin-left: 2px;
    padding: 0px;
}
.option-selector option {
    color: var(--color-fg);
    align-self: flex-start;
    border: none;
    outline: none;
    margin: 0px;
    padding: 0px;
}
.option-selector option.selected {
    color: var(--color-fg-highlight);
    background: var(--color-bg-highlight);
}

/*-- Radio Selector ----------------------------*/
.radio-selector {
    border: solid 2px var(--color-bg);
}

/*-- Value Adjuster ----------------------------*/
.value-adjuster {
    color: var(--color-fg);
    align-self: flex-start;
    border: solid 2px var(--color-bg);
    border-top: none;
}
