

/*== Control Groups ==========================================================*/

/*-- Shared ------------------------------------*/
#controls {
    border-left: 3px solid grey;
}
.control_group {
    margin-top: 3px;
}
.control_group h2 {
    display: block;
}

/*-- Pattern -----------------------------------*/
#pattern_selector {
    width: 20em;
    background: black;
    color: white;
    border-width: 0px;
}
